.profile-container {
    height: 90vh;
    width: 100%;
    background-position: center;
    display: flex;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

.profile-name-container {
    padding-right: 150px;
    border-right: 2px solid black;
}

.profile-name {
}

.bio-container {
    padding-top: 25px;
}

.bio-text p {
    overflow: hidden;
    color: black;
}

.visible {
    display: inherit;
    padding-top: 10px;
}

.bio-container button {
    margin-top: 7px;
    border: none;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius:10px;
    color: black;
    background-color: burlywood;
}

.bio-container button:hover {
    filter: brightness(85%);
    cursor: pointer;
    transition: all ease-in-out .5s;
}

.textbox {
    width: 150px;
    height: 75px;
}

.right-container {
    padding-left: 25px;
}

.right-container div a {
    text-decoration: none;
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(33, 37, 41);
}

.right-container div a:hover {
    cursor: pointer;
    opacity: .7;
    text-decoration: underline;
}

.right-container h1 {
    text-decoration: underline;
}